<h2>編輯課程</h2>
<%= form_for @course do|f|%>
	<div>
	課程名稱<%=f.text_field :name %>
	</div>
	
	<div>
	教師名稱<%=f.text_field :teacher %>
	</div>

	<div>
	教室<%=f.text_field :classroom %>
	</div>
	
	<div>
	時間<%=f.text_field :time %>
	</div>
	
	<div>
	學分數<%=f.text_field :credit %>
	</div>

	<%=f.submit %>
<%end%>